.character-wrap {
  margin-top: 0;
  padding: 20px 0;
}

.character-wrap .item-list .item-list-main {
  padding-right: 20px;
}

.character-wrap .detail {
  width: 50%;
  padding-top: 24px;
  background: #FFFFFF;
}